doctype 5
html
	block head
		title= locals.title
		script(src='http://code.jquery.com/jquery.js')
		script(src='javascripts/bootstrap.min.js')
		script(src='javascripts/header-script.js')
		link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/flat-ui-colors.css')
	body

		#header
			//img(src="/images/geolocation-icon.svg", style="width:24px;")
			div#headerTitle #{locals.title}
			a(href="/", style="color:#27ae60") home
			- if (session)
				a(href="/", style="color:#e74c3c") social
				a(href="/lookaround", style="color:#f1c40f") look around
				a(href="/logout", style="color:#3498db") logout



		block content

		#footer
			div(style="text-align:center") #{locals.title}
