extends layout

//
// HEAD
//
//
append head
	link(rel='stylesheet', href='/stylesheets/lookaround-style.css')
	script(src='javascripts/lookaround-ajax-script.js')

//
// BODY
//
//
block content
	div(style="padding-top:5%;")
		#lookAroundContainer
			#lookAroundButtonHolder
				form#lookAroundButton
					input.btn.btn-warning.btn-large(type="submit", value="Look around")
				p#position
				img#loaderAnimation(src="/images/ajax-loader.gif")
			div#errorField(style="display:none")
			.container-fluid
				.row-fluid
					// LEFT SIDE
					.span4#leftSpan
						div#mapContainer
							img#gamerMap.img-polaroid

					// RIGHT SIDE
					.span8#rightSpan
						#nearbyTable.accordion