
#lookAroundContainer
{
	padding-left: 10%;
	padding-right: 10%;
	font-weight: lighter;
}

#nearbyTable
{
	color: black;
	background-color: white;
}

#nearbyTable th
{
	font-weight: lighter;
}

#leftSpan
{
	border : 1px solid white;
	height : 100%;
}

#rightSpan
{
	text-align: center;
}